*{background:transparent}



 #logoAP{
     width: 140px;
     border-radius: 50px;
     /* margin-top: 5px; */
     position: relative;
     /* bottom: 120px;
     right: 120px;
     */
     box-shadow: 0px 15px 30px #c5c5c5,
     -0px -15px 30px #c5c5c5;
 }

 .logo{
    position: absolute;
    margin-top: 0;
    padding-top: 0;
    width: 30%;
 }


 