<div class="row">
    <div class="container">
       <div class="logo">
 <img src="../../../assets/Argentina.png" id="logoAP" alt="logo de Argentina Programa">
           
       </div>
      
     <div class="button">
        <a href="" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-facebook-f"  id="facebook" alt="logo facebook">></i> </a>
               
        <a href="" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-instagram" id="instagram" alt="logo instagram">></i> </a>
    
        <a href="" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-twitter" id="twitter" alt="logo twitter">></i> </a>
    
        <a href="" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-github-alt" id="github" alt="logo github">></i> </a>

        <a href="/login" rel="noreferrer noopener"><i class="fa-thin fa-right-to-bracket" id="Login" alt="Login">></i> </a>

    
    
    </div> 
    
 </div>

</div>
