<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevosProyectos" >
          Agregar Proyectos
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let proyec of proyects">
                  <td>
                      <h5>{{ proyec.nombreProyectos}}</h5>
                  </td>
                  <td>{{proyec.descripcionProyectos}}</td>
                  <td>{{proyec.inicioProyectos}}</td>
                  <td>{{proyec.finProyectos}}</td>
                   <td  > 
                       <button class="btn btn-light" routerLink="/editarProyectos/{{proyec.idProyec}}">
                          <i class="bi bi-pencil-fill"></i> EDITAR</button>
                   </td>
                   <td >
                       <button class="btn btn-danger" (click)="onEliminarProyec (proyec.idProyec)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button> 
                  </td> 
              </tr>
          </tbody>
      </table>
  </div>

</div>


