<div class="min-vh-100 container-fuild">
  <div class="tarjeta">
      <div class="row">
          <div class="col-md-12 col-lg-6">
              <div class="mensaje">
                  <div class="centrar">    
                      <p>dime quien eres y te mostrare el                    
                      <span>cambio</span></p>
                  </div>
              </div>
          </div>
          <div class="col-md-12 col-lg-6">
              <div class="login">
                  <div class="centrar">
                    
                      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                          <label class="form-label" for="email">Email</label>
                          <input type="email" id="email" name="email" class="form-control form-control-lg" [(ngModel)]="email" required/>
                          <label class="form-label" for="password">Password</label>
                          <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required/>                            
                          <button class="boton" type="submit">Iniciar sesion</button>
                        <a routerLink="/home">Entrar como Visitante</a>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>