@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.row {
  padding: 20px;
  margin-left: 0;
  margin-right: 0;
}
div {
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  color: aliceblue;
}

span {
  position: relative;
  top: 5px;
}

.pencil {
  box-shadow: 10px -10px 30px #f5f1f5, 10px -10px 50px aqua;
  position: relative;
  margin-left: 95%;
  bottom: 550px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: aqua 1px solid;
  border-radius: 50%;
}

a {
  position: relative;
  top: 8px;
  color: #b10987;
}

a:hover {
  color: aqua;
}

h4 {
  border: 1px solid aqua;
  border-radius: 25px;
  padding: 10%;
  box-shadow: 0px -5px 20px aqua, -0px -5px 20px aqua;
}

/* etiqueta fotoperfil */
@media (min-width: 576px) {
  #fotoperfil {
    position: absolute;
    width: 185px;
    border-radius: 50%;
    left: 0;
    top: 380px;
    box-shadow: 0px -15px 30px aqua, -0px -15px 30px aqua;
  }
}

/* etiqueta de nombre */
#nombre {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 8px;
  border-radius: 100%;
  padding: 1rem;
  border: solid 2px aqua;
  border: solid 5px #ad0597;
  bottom: 120px;
  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));
}

@media (max-width: 575px) {
  #nombre {
    position: relative;
    top: 80px;
    left: 5px;
    border: 1px solid #b10987;
    font-size: 20px;
  }

  p {
    position: relative;
    left: 5px;
    align-items: stretch;
    font-size: 20px;
    margin-top: 40px;
    bottom: 3px;
  }

  #fotoperfil {
    position: absolute;
    width: 130px;
    border-radius: 100%;
    left: 120px;
    top: 434px;
    box-shadow: 0px 15px 30px #c5c5c5, -0px -15px 30px #c5c5c5;
  }

  .pencil {
    box-shadow: 10px -10px 30px #f5f1f5, 10px -10px 50px aqua;
    margin-left: 90%;
    position: relative;
    bottom: 650px;
    width: 60px;
    height: 60px;
    background: transparent;
    border: aqua 1px solid;
    border-radius: 50%;
  }
}

/* etiqueta titulo */

p {
  font-weight: bold;
  position: relative;
  bottom: 80px;
  right: 12px;
  border: solid 2px #ad0597;
  box-shadow: 0px 5px 10px aqua, -0px -5px 10px aqua;
  border-radius: 10px;
  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));
}
