<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaExperiencia" >
          Nueva Experiencia
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let experience of experiences">
                  <td>
                      <h5>{{experience.empresaExp}}</h5>
                  </td>
                  <td>{{experience.descripcionExp}}</td>
                  <td >
                      <button class="btn btn-light" routerLink="/editarExperiencia/{{experience.idExp}}">
                          <i class="bi bi-pencil-fill"></i> EDITAR</button>
                  </td>
                  <td >
                      <button class="btn btn-danger" (click)="onEliminarExperience(experience.idExp)">
                          <i class="bi bi-trash-fill"></i> BORRAR</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

</div>
