<div class="row">
    <h2>Experiencia Laboral</h2>
   <div class="col-lg-1"></div>
    <div class="col-lg-11">
      <ul>
          <li>
              <h2>Trabajo 1</h2> - 
              <h4>(Years)</h4> 
               <br>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo architecto voluptas molestiae nostrum est quasi nisi id quae laborum tenetur repellendus harum molestias, dolores dolorum ullam, laboriosam eligendi perspiciatis earum!<p>
               </li>
              </ul>
  
      <ul>
          <li>
              <h2>Trabajo 2</h2> - 
              <h4>(Years)</h4> 
              <br>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo architecto voluptas molestiae nostrum est quasi nisi id quae laborum tenetur repellendus harum molestias, dolores dolorum ullam, laboriosam eligendi perspiciatis earum!<p>
               </li>
              </ul>
  
      <ul>
          <li>
              <h2>Trabajo 3</h2> - 
              <h4>(Years)</h4> 
              <br>
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo architecto voluptas molestiae nostrum est quasi nisi id quae laborum tenetur repellendus harum molestias, dolores dolorum ullam, laboriosam eligendi perspiciatis earum!<p>
               </li>
              </ul>
  
  
    </div>  
  </div>
  
