<div class="row" >
    <h2>Experiencia Laboral</h2>

 <div class="col-lg-6" ></div>

 <div class="text-center">
  <button type="button" class="btn btn-success" (click)=" ('add')">
     <a class="nav-link">
       añadir experiencia <span class="sr-only">(current)</span>

     </a>
 </button>
</div>
        <div class="col-lg-5" *ngFor="let experience of experiences">
          <a
          class="btn btn-primary tooltips"
          data-placement="top"
          data-toggle="tooltip"
          data-original-title="Edit"
          ><i class="fa fa-pencil"></i>
        </a>

        <a
        class="btn btn-secondary tooltips"
        data-placement="top"
        data-toggle="tooltip"
        data-original-title="Delete"
        ><i class="fa fa-times"></i>
      </a>
          <ul>
              <li>
                  <h3>{{experience.empresaExp}}</h3> 
                  <h4>{{experience.fechaInicioExp + " -" + experience.fechaFinExp}}</h4> 
                  <br>
                  <p>{{experience.descripcionExp}}<p>
                  </li>
                  </ul>
        </div>  
 
  
