<h2>Hard & Skills</h2>

<div class="padre">
  <div class="container" *ngFor="let skill of skills">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <div>
        <div class="responsive">
       
          <img src="{{ skill.fotoSkills }}" alt="img/skill.png" />
          <h3 class="text">{{ skill.nombreSkills }}</h3>
          <div class="fondoProgress">
        
            <div
            class="progress-bar"
            style= "width: {{skill.porcentajeSkills}}%"
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ skill.porcentajeSkills }}%
          </div>
        </div>
     
      </div>

        </div>
        
      </div>
    </div>


