@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

*{
    background-image: url(https://img.freepik.com/free-vector/blue-abstract-hud-technology-background_52683-21342.jpg?w=2000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row{
  padding: 80px;
 
  margin-left: 10%;
 
}

.table
{
  
   font-size: 20px; 
   font-family: cursive;
   box-sizing: border-box;
   overflow: hidden;
   box-shadow: 0px 15px 50px #c5c5c5,
                      -0px -15px 50px #c5c5c5;
   border: 2px solid  #c5c5c5;
   padding: 3%;
   display: flex;
   border-radius: 25px;
  
   
}



td{
  
  color: white;
  text-align: center;
  
}





h1 , h5, h3{
  text-align: center;
  font-family: cursive;
  border: solid 3px ;
  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));
  border-radius: 10px;
  color: aliceblue;
  border: solid 1px aqua;
 
  
}

/* estilo para botones frente */

.bot-editar
{
  border: solid 7px #ad0597;
 
  padding: 5px 15px;
  transition: border 1s;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  margin: 10px;
  font-size: 20px;
  font-family: cursive;
  color:aqua;
}


.bot-editar:hover {
 
  border:5px solid aqua;
  color: #c5c5c5;
}




/* componenet nuevos o editar */

.inicio{
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: cursive;
  align-items: center;
  font-size: 25px;
  text-align:center;


}
.container{
    max-width: 60vw;
    box-shadow: 15px 15px 25px #ce1fe6ad,
                -15px -15px 25px #ce1fe6ad;
    overflow: hidden;
    border-radius: 25px;
    border: solid 1px #000;
}

.tarjeta{
    display:block;
    padding:15px;
    border: none;
   
}
.boton {
 
  border:7px solid #b10987;
  color: pink;
  padding: 5px 15px;
  transition: border 1s;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  margin: 10px;
  font-size: 20px;
  font-family: cursive;
 
 
}


.boton:hover {
    border: solid 7px #ad0597;
    color:aqua;
}


  .tarjeta form input{

    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 10px;
  }

  .tarjeta form label{
    margin-top: 5px;
    margin-bottom: 5px;

  }
  @media (max-width: 780px) {
    .container{
      max-width: 80vw;
  }
  }



  








