<div class="row">
    <div class="container">
       <div class="logo">
 <img src="../../../assets/Argentina.png" id="logoAP" alt="logo de Argentina Programa">
           
       </div>
       <!-- <div class="redes">
             <a href=""><img src="../../../assets/facebook.png" id="facebook" alt="logo facebook"></a>
             <a href=""><img src="../../../assets/3.webp" id="instagram" alt="logo instagram"></a>
             <a href=""><img src="../../../assets/2.png" id="twitter" alt="logo twitter"></a>
             <a href=""><img src="../../../assets/3.png" id="github" alt="logo github"></a>
        
              <button type="button" class="btn btn-light">Login</button>
         </div> -->



     <div class="button">
        <a href=""><i class="fa-brands fa-facebook-f"  id="facebook" alt="logo facebook">></i> </a>
               
        <a href=""><i class="fa-brands fa-instagram" id="instagram" alt="logo instagram">></i> </a>
    
        <a href=""><i class="fa-brands fa-twitter" id="twitter" alt="logo twitter">></i> </a>
    
        <a href=""><i class="fa-brands fa-github-alt" id="github" alt="logo github">></i> </a>
    
        <button type="button" class="btn btn-light">Login</button>
    
    
    </div> 
    
 </div>

</div>
