@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.row{
    padding: 50px;
   
}
div{
  
    align-items: center;
}

h1, h5{
  
    color: aliceblue;
}

td{
    color: aqua;
}

.table
{
    font-size: 20px;
    font-family: cursive;
}



