.row{
    padding: 20px;
    color: white;
   
 
}

div{
    padding: 20px;
    /* background-color:  rgb(46, 37, 170); */
 


}

h2, h4{
    display: inline;

}

#title
{
    box-shadow: 10px -4px 10px rgba(226, 28, 226, 0.5);

}
.img-responsive{
    width: 200px;
   border-radius: 15px;
}

.nav-link{
    color: aliceblue;
}
