
tbody{
    position: relative;
    box-shadow: 0px 15px 30px aqua,
    -0px -15px 30px aqua;
    border: 1px solid rgb(223, 63, 116);
    padding: 5%;
    border-radius: 20px;
}


.table{
    position: relative;
   top: 5%;
  }


  
