<div class="row">
  <h1>Educacion</h1>
  <div class="col-lg-2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaEducacion" >
          Agregar Educacion
      </button>
  </div>

  <div class="col lg 1"></div>
  <div class="col-lg-11">
      <table class="table">
          <tbody>
              <tr *ngFor="let education of educations">
                  <td>
                      <h5>{{ education.establecimientoEdu}}</h5>
                  </td>
                  <td>{{ education.certificadoEdu}}</td>
                  <!-- <td *ngIf="isLogged"> -->
                      <button class="btn btn-light" routerLink="/editarEducacion/{{education.idEdu}}">
                          <i class="bi bi-pencil-fill"></i> Editar</button>
                  <!-- </td> -->
                  <!-- <td *ngIf="isLogged"> -->
                      <button class="btn btn-danger" (click)="onEliminarEducation (education.idEdu)">
                          <i class="bi bi-trash-fill"></i> Borrar</button>
                  <!-- </td> -->
              </tr>
             
          </tbody>
      </table>
  </div>

</div>



