<div class="inicio">
  <div class="container" *ngIf="ski">
    <div class="row">
      <div class="tarjeta">
        <form (ngSubmit)="onEditarSkills()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="habilidad">Habilidad</label>
            <input
              type="text"
              class="form-control"
              id="habilidad"
              name="habilidad"
              [(ngModel)]="ski.nombreSkills"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="nivel">Porcentaje</label>
            <input
              type="text"
              class="form-control"
              id="nivel"
              name="nivel"
              [(ngModel)]="ski.porcentajeSkills"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="img">Imagen/Descripcion</label>
            <input
              type="text"
              class="form-control"
              id="img"
              name="img"
              [(ngModel)]="ski.fotoSkills"
              required=""
            />
          </div>
          <button class="boton">Editar habilidad</button>
        </form>
      </div>
    </div>
  </div>
</div>
