<div class="row">

<div class="button">

  <p><b>Podes Contactame via        </b><i  class="fa-solid fa-arrow-right" id="flecha"></i></p>

 <a href="mailto:fabiromano11@gmail.com?Subject=Consulta%20sobre%20..."><i class="fa-solid fa-envelope"id="correo" alt="logo correo">
></i></a> 
<a href="tel:+541134106136"><i class="fa-sharp fa-solid fa-phone-volume" id="telefono" alt="logo telefono">
></i></a> <br>
<a href="https://wa.me/1134106136?text="><i class="fa-brands fa-whatsapp"id="whatsapp" alt="logo whatsapp">
></i></a>

</div>
</div>