<nav class="navbar navbar-expand-md navbar-dark ">
    <div class="container-fluid">
      
      <button class="navbar-toggler me-2 " 
              type="button" 
              data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse text-center mx-auto" id="navbarSupportedContent">
        
        <ul class="navbar-nav ms-auto me-3 mx-auto">        
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/acercade">Sobre mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/educacion">Educacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/experiencia">Experiencia laboral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/hys">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/proyecto">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contacto">Contacto</a>
          </li>
          
          <li>
            <button class="btn" type="submit" (click)="onLogOut()"    >Cerrar Sesion</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

