a
{
    color: aliceblue;
    font-size: 20px;
    font-family: cursive;
     
}



.nav-item
{
    line-height: 60px;
  
    
}

.nav-toggle
{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 70px;
  
  

    /* display: none; */

}