<div class="arriba">
  <div class="respmenu">
    <input type="checkbox" />
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
    <nav>
      <ul>
        <li><a href="/acercade">Acerca de</a></li>
        <li><a href="/educacion">Educacion</a></li>
        <li><a href="/experiencia">experiencia</a></li>
        <li><a href="/contacto">contactame</a></li>
        <li><a href="/proyecto">Proyectos</a></li>
        <li><a href="/hys">Hard & Soft Skills</a></li>
      </ul>
    </nav>
  </div>
  
</div>