<div class="arriba">
  <div class="respmenu">
    <input type="checkbox" />
    <i class="fas fa-bars"></i>
    <!-- <i class="fas fa-times"></i> -->
    <nav>
      <ul>
        <li><a href="/acercade" >Sobre Mi</a></li>
        <li><a href="/educacion">Educacion</a></li>
        <li><a href="/experiencia">Experiencia</a></li>
        <li><a href="/proyecto">Proyectos</a></li>
        <li><a href="/hys">Hard & Soft Skills</a></li>
        <li><a href="/contacto">Contacto</a></li>

        <li>
          <button class="button esp" type="submit" (click)="login()" >Iniciar sesion</button>
          <button class="button esp" type="submit" (click)="onLogOut()" >Cerrar Sesion</button>
        </li>
      </ul>
    </nav>
  </div>
</div>

