<div class="row">
   
    <div class="contenedor">
        <h2>Proyectos Realizados</h2>
        <br><div class="col-sm-12 col-md-7 col-lg-7 parte1">
           <h3>Portfolio</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto nam asperiores debitis consequatur ea mollitia possimus voluptatem, et error minima dicta aspernatur quo voluptas illo doloribus ab. Sed, voluptatum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/proyecto.png" alt="img del proyecto realizado" class="img-fluid img-proyecto" > 

        </div>
    </div>
</div>

