.row{
    color: white;
    margin-left: 0px;
    padding: auto;
 }

.contenedor{
    width: auto;
  
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
    padding: 10px;

    
}

.img-proyecto{
  
  box-shadow: 10px -5px 10px rgb(252, 50, 128);
  box-shadow: ejeX ejeY difumasion color;
}

