<div class="row">
     
    <h2>Hard & Soft skills</h2>
    <br><br>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" >
       <br><circle-progress
            [percent]="50"
            [radius]="90"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="600"
     ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       <br> <circle-progress
               [percent]="80"
               [radius]="90"
               [imageSrc]="'../assets/CSS.png'"
               [showImage]="true"
               [imageHeight]="80"
               [imageWidth]="80"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="8"
               [innerStrokeWidth]="2"
               [outerStrokeColor]="'blue'"
               [innerStrokeColor]="'grey'"
               [animation]="true"
               [animationDuration]="600"
        ></circle-progress>
       </div>

       <div class="text-center col-sm-4 col-md-4 col-lg-4" >
              <br> <circle-progress
               [percent]="70"
               [radius]="90"
               [imageSrc]="'../assets/js.png'"
               [showImage]="true"
               [imageHeight]="80"
               [imageWidth]="80"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="6"
               [innerStrokeWidth]="3"
               [outerStrokeColor]="'yellow'"
               [innerStrokeColor]="'grey'"
               [animation]="true"
               [animationDuration]="600"
        ></circle-progress>
       </div>

       <div class="text-center col-sm-4 col-md-4 col-lg-4" >
              <br><circle-progress
               [percent]="75"
               [radius]="90"
               [imageSrc]="'../assets/eng.png'"
               [showImage]="true"
               [imageHeight]="80"
               [imageWidth]="80"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="8"
               [innerStrokeWidth]="2"
               [outerStrokeColor]="'green'"
               [innerStrokeColor]="'grey'"
               [animation]="true"
               [animationDuration]="600"
        ></circle-progress>
       </div>

       <div class="text-center col-sm-4 col-md-4 col-lg-4" >
              <br><circle-progress
               [percent]="90"
               [radius]="90"
               [imageSrc]="'../assets/grupal.png'"
               [showImage]="true"
               [imageHeight]="80"
               [imageWidth]="80"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="8"
               [innerStrokeWidth]="2"
               [outerStrokeColor]="'grey'"
               [innerStrokeColor]="'grey'"
               [animation]="true"
               [animationDuration]="600"
        ></circle-progress>
       </div>

       <div class="text-center col-sm-4 col-md-4 col-lg-4">
              <br><circle-progress
               [percent]="80"
               [radius]="90"
               [imageSrc]="'../assets/git.png'"
               [showImage]="true"
               [imageHeight]="80"
               [imageWidth]="80"
               [showUnits]="false"
               [showSubtitle]="false"
               [outerStrokeWidth]="8"
               [innerStrokeWidth]="2"
               [outerStrokeColor]="'black'"
               [innerStrokeColor]="'grey'"
               [animation]="true"
               [animationDuration]="600"
        ></circle-progress>
       </div>

</div>

