@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");


.row{
    padding: 20px;
    
}
div{
  
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    color: aliceblue;
    
}

span{
    position: relative;
    top: 5px;
    
} 

.pencil{
    
    box-shadow: 10px -10px 30px #d31ed3,
    10px -10px 50px aqua;

     position: relative;
     right: 100px;

     bottom: 200px;
     width: 60px;
     height: 60px;
     background:transparent;
    border: aqua 1px solid;
    border-radius: 50%;
}




a{
    position: relative;
    top: 8px;
    color:  #b10987;
    
}

a:hover
{
    color: aqua;
}


h4{
   
    box-shadow: 0px 15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5;
    border: 1px solid aqua;
    border-radius: 25px;
    padding: 5%;
    
    
   
   
}


/* etiqueta fotoperfil */
    @media (min-width:576px) {
#fotoperfil{
    position: absolute;
    width: 200px;
    border-radius: 50%;
    left: 70px;;
    top: 380px;
    box-shadow: 0px 15px 30px aqua,
    -0px -15px 30px aqua;
    


}}

@media (max-width:575px) {
    #fotoperfil{
        position: absolute;
        width: 150px;
        border-radius: 100%;
        left:210px;
        top: 370px;
        box-shadow: 0px 15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5;
    }
    .pencil {
        position: absolute;
        bottom: 470px;
        right: 10px;
        width: 50px;
        height: 50px;
        background: transparent;
        
      }

    
    }
    
/* etiqueta de nombre */
#nombre{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 2px;
 
    bottom: 100px;
    background: transparent;
    
    /* margin-top: 5px; */
   
    
}


@media (max-width:575px) {
    #nombre{
        position: relative;
        /* bottom: 20px; */
        top: 60px;
        left: 5px;
        border:1px solid #b10987;
        font-size: 20px;
         }
    }

/* etiqueta titulo */

p{
    font-weight: bold;
    /* margin-top: 5px; */
    position: relative;
    /* bottom: 140px ; */
    bottom:  60px;
    right: 200px; 
    background: transparent;
    border: solid 1px aqua;
    border-radius: 10px;
    box-shadow: 0px 15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5;
  
}

@media (max-width:575px) {
    p{
        position: relative;
        left: 5px;
        align-items: stretch;
        font-size: 20px;
        margin-top: 40px;
        
       
         }
    }



/* div{
  
    align-items: center;
} */


