<div  class="row"  *ngIf="persona">
    <div class="img">
         <img  src= "{{persona.fotoPerfil}}" class="img-fluid" alt="Imagen de perfil" id="fotoperfil">
      
    </div>
        <div class="titulo" >
           {{persona.nombre +" "  + persona.apellido }} <br> <br>{{persona.titulo}}
        <!-- <h6 id="titulo">{{persona.titulo}}</h6> -->
       </div> 

        <div class="descrip"> {{persona.descripcion}}  </div>

            <div class="btncontrol">
                <a
                  routerLink="/editarAcercaDe/{{ persona.id }}"
                  class="btnm"
                  ><i class="fa fa-pencil" routerLink="/home"></i
                ></a>
              </div>
          
      

</div>



