@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

.row {
  padding: 20px;
}
div {
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  color: aliceblue;
}

span {
  position: relative;
  top: 5px;
}

.pencil {
  box-shadow: 10px -10px 30px #d31ed3, 10px -10px 50px aqua;

  position: relative;
 left: 880px;

  bottom: 430px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: aqua 1px solid;
  border-radius: 50%;
}

a {
  position: relative;
  top: 8px;
  color: #b10987;
}

a:hover {
  color: aqua;
}

h4 {
  /* box-shadow: 0px 15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5; */
  border: 1px solid aqua;
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0px -5px 20px aqua, -0px -5px 20px aqua;
}

/* etiqueta fotoperfil */
@media (min-width: 576px) {
  #fotoperfil {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    left: 40px;
    top: 380px;
    border: solid 3px rgb(68, 19, 206);
    box-shadow: 0px 5px 10px aqua, -0px -5px 10px aqua;
    /* box-shadow: 0px -15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5; */
  }
}

/* etiqueta de nombre */
#nombre {
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 8px;
  border-radius: 100%;
  padding: 1rem;
  border: solid 2px aqua;
  box-shadow: 0px 5px 10px #c5c5c5, -0px -5px 10px #c5c5c5;

  bottom: 100px;
  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));

  /* margin-top: 5px; */
}

@media (max-width: 575px) {
  #nombre {
    position: relative;
    /* bottom: 20px; */
    top: 80px;
    left: 5px;
    border: 1px solid #b10987;
    font-size: 20px;
  }

  p {
    position: relative;
    left: 5px;
    align-items: stretch;
    font-size: 20px;
    margin-top: 40px;
    bottom: 3px;
  }

  #fotoperfil {
    position: absolute;
    width: 150px;
    border-radius: 100%;
    left: 200px;
    top: 434px;
    box-shadow: 0px 15px 30px #c5c5c5, -0px -15px 30px #c5c5c5;
  }

  .pencil {
    position: absolute;
    bottom: 300px;
    right: 40px;
    width: 50px;
    height: 50px;
    background: transparent;
  }
}

/* etiqueta titulo */

p {
  font-weight: bold;
  /* margin-top: 5px; */
  position: relative;
  /* bottom: 140px ; */
  bottom: 50px;
  right: 12px;
  /* left: 8px; */
  border: solid 2px aqua;
  box-shadow: 0px 5px 10px #c5c5c5, -0px -5px 10px #c5c5c5;
  border-radius: 10px;
  /* box-shadow: 0px 15px 30px #c5c5c5,
    -0px -15px 30px #c5c5c5; */

  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));
}
