* {
  background: transparent;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.redesMenu {
  display: flex;
  position: absolute;
  background-color: transparent;
  padding-top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 0;
  right: 25%;

  margin-right: 10px;
}

a {
  margin-top: 1rem;
}
.button a {
  text-decoration: none;
  font-size: 35px;
  width: 60px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 15px 30px #c5c5c5, -0px -15px 30px #c5c5c5;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(rgb(68, 19, 206), rgb(135, 22, 211));
  margin: 2rem;
  align-items: stretch;
}
.button a:hover {
  transform: scale(1.5);
}

#facebook {
  color: #fff;
}

#instagram {
  color: #ee34c6;
}

#twitter {
  color: #3bdbf0;
}

#github {
  color: #0a0a0a;
}
/* #login
{
    color: rgb(7, 12, 17);
} */

.btn {
  border-width: medium;
  border-radius: 30px;
}

/*---para la vista de celular ---*/

@media (max-width: 575px) {
  .container {
    flex-direction: column;
  }

  .button {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 90px;
    right: 60%;
  }
  .button a {
    margin: 1.5rem;
    font-size: 150%;
    width: 40px;
    height: 40px;
  }
}
