<div class="button redesMenu">
    <!-- <a href="/login" rel="noreferrer noopener"><i class="fa-solid fa-right-to-bracket" id="Login" alt="Login">></i> </a> -->

    <a href="https://www.facebook.com/fabi.romano47/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-facebook-f"  id="facebook" alt="logo facebook">></i> </a>
           
    <a href="https://www.instagram.com/fabiromano22/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-instagram" id="instagram" alt="logo instagram">></i> </a>

    <a href="https://twitter.com/FabiRomano2" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-twitter" id="twitter" alt="logo twitter">></i> </a>

    <a href="https://github.com/FabiRomano" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-github-alt" id="github" alt="logo github">></i> </a>

    
   

</div> 
