/* *{
    
  background-image: url(https://img.freepik.com/vector-gratis/fondo-degradado-circulos-futuristas_23-2149117431.jpg?w=2000);
  background-repeat: no-repeat;
  background-attachment: fixed;

} */
