<div class="arriba">
  <div class="respmenu">
    <input type="checkbox" />
    <i class="fas fa-bars"></i>
    <!-- <i class="fas fa-times"></i> -->
    <nav>
      <ul>
        <li>
          <a href="/acercade" target="_blank" rel="noreferrer noopener"
            >Sobre Mi</a
          >
        </li>
        <li>
          <a href="/educacion" target="_blank" rel="noreferrer noopener"
            >Educacion</a
          >
        </li>
        <li>
          <a href="/experiencia" target="_blank" rel="noreferrer noopener"
            >Experiencia</a
          >
        </li>
        <li>
          <a href="/proyecto" target="_blank" rel="noreferrer noopener"
            >Proyectos</a
          >
        </li>
        <li>
          <a href="/hys" target="_blank" rel="noreferrer noopener"
            >Hard & Soft Skills</a
          >
        </li>
        <li>
          <a href="/contacto" target="_blank" rel="noreferrer noopener"
            >Contacto</a
          >
        </li>

        <li>
          <button class="button esp" type="submit" (click)="login()">
            Iniciar sesion
          </button>
          <button class="button esp" type="submit" (click)="onLogOut()">
            Cerrar Sesion
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
