/* 
app-social{
    float: right;
    margin-top: 10px;
    border-radius: 5px;
} */
*{background:transparent}

.menu{
    display:block;
    justify-content: space-between;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    background: transparent;
  
}